.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules>li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules>li>div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules>li>ul>li>ul>li {
    padding-left: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    padding-right: 0px;
}

.wd-modules>li>ul>li>ul>li>a {
    color: red;
    text-decoration: none;
}

.wd-modules>li {
    margin-bottom: 20px;
}

.btn-custom-top {
    width: 150px;
    background-color: lightgrey;
    color: black;
    text-align: left;
}