.breadcrumb-item>a {
    font-size: medium;
    text-decoration: none;
    color: red;
}

.table td:not(:first-child) {
    text-align: center;
}

.table th:not(:first-child) {
    text-align: center;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}